public/workflows/apollo-phone-enricher-sms-outreach.json
{
  "name": "Apollo phone number enricher to text messaging outreach",
  "nodes": [
    {
      "parameters": {},
      "id": "aa7b9501-bb73-49ab-aa27-1a7e1e7b3b25",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1712,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "apolloApiKey",
              "value": "<__PLACEHOLDER_VALUE__Apollo.io API Key__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "personEmail",
              "value": "<__PLACEHOLDER_VALUE__Email address to search__>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e86505c4-d5d9-4dd1-abb9-835781f49595",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1j0G42EegeVBX9uOWtVba6jf5MMFSpcrgUM4gpCD-3H4",
          "mode": "list",
          "cachedResultName": "Apify Email Scraped",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j0G42EegeVBX9uOWtVba6jf5MMFSpcrgUM4gpCD-3H4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 544108083,
          "mode": "list",
          "cachedResultName": "Apollo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j0G42EegeVBX9uOWtVba6jf5MMFSpcrgUM4gpCD-3H4/edit#gid=544108083"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "personal_email",
              "displayName": "personal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniority_level",
              "displayName": "seniority_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_linkedin",
              "displayName": "company_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "functional_level",
              "displayName": "functional_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_annual_revenue",
              "displayName": "company_annual_revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_annual_revenue_clean",
              "displayName": "company_annual_revenue_clean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_total_funding",
              "displayName": "company_total_funding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_total_funding_clean",
              "displayName": "company_total_funding_clean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_technologies",
              "displayName": "company_technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_linkedin_uid",
              "displayName": "company_linkedin_uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_founded_year",
              "displayName": "company_founded_year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_phone",
              "displayName": "company_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_street_address",
              "displayName": "company_street_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_full_address",
              "displayName": "company_full_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_state",
              "displayName": "company_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_city",
              "displayName": "company_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_country",
              "displayName": "company_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_postal_code",
              "displayName": "company_postal_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "eb11a2c0-2451-4907-90aa-443073c73012",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2784,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract phone numbers from Apollo API response\nconst person = $input.item.json.person || $input.item.json;\n\n// Get phone numbers array\nconst phoneNumbers = person.phone_numbers || [];\n\n// If no phone numbers, return empty array\nif (phoneNumbers.length === 0) {\n  return [];\n}\n\n// Extract person details\nconst name = person.name || person.first_name + ' ' + person.last_name || '';\nconst title = person.title || '';\nconst company = person.organization_name || person.organization?.name || '';\n\n// Format each phone number as a separate item\nconst formattedData = phoneNumbers.map(phone => {\n  return {\n    json: {\n      phoneNumber: phone.sanitized_number || phone.raw_number || phone,\n      name: name,\n      title: title,\n      company: company\n    }\n  };\n});\n\nreturn formattedData;"
      },
      "id": "0a6dba73-972b-42f2-a51a-3723807b224d",
      "name": "Format Phone Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/bulk_match",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "reveal_personal_emails",
              "value": "false"
            },
            {
              "name": "reveal_phone_number",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"details\": [\n    {\n      \"first_name\": \"tim\",\n      \"last_name\": \"zheng\",\n      \"name\": \"tim zheng\",\n      \"email\": \"tim@apollo.io\",\n      \"hashed_email\": \"8d935115b9ff4489f2d1f9249503cadf\",\n      \"organization_name\": \"apollo\",\n      \"domain\": \"apollo.io\",\n      \"id\": \"587cf802f65125cad923a266\",\n      \"linkedin_url\": \"http://www.linkedin.com/in/tim-zheng-677ba010\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "12cc5963-a607-4885-8618-28e77ce79db8",
      "name": "Apollo API - Get Email and Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2368,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "5c167333-8694-4a5e-9a18-4bdd15344d54",
      "name": "Apollo API - Search people",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2160,
        240
      ]
    },
    {
      "parameters": {
        "content": "## No Apollo subscription.Needs subscription to use API",
        "height": 464,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2096,
        48
      ],
      "typeVersion": 1,
      "id": "c8018c02-8887-4fd3-843d-4d21798f653b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openphone.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "zzpom7K57zz6WhDjZApnLNQBZ3UIKUex"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"<string>\",\n  \"phoneNumberId\": \"OP1232abc\",\n  \"from\": \"<string>\",\n  \"to\": [\n    \"{{ $json.phone_number }}\"\n  ],\n  \"userId\": \"US123abc\",\n  \"setInboxStatus\": \"done\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3200,
        240
      ],
      "id": "90751419-4fc0-4830-8f8b-ca25aeb99974",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Apify Actor\n\nMass Linkedin Phone Scraper",
        "height": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        48
      ],
      "typeVersion": 1,
      "id": "60208ec2-4aa0-40f4-965b-cd0150316c5d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1j0G42EegeVBX9uOWtVba6jf5MMFSpcrgUM4gpCD-3H4",
          "mode": "list",
          "cachedResultName": "Email and Phone Number Scraped",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j0G42EegeVBX9uOWtVba6jf5MMFSpcrgUM4gpCD-3H4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1734899307,
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1j0G42EegeVBX9uOWtVba6jf5MMFSpcrgUM4gpCD-3H4/edit#gid=1734899307"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2992,
        240
      ],
      "id": "18bf1300-42fe-40b0-85b3-ec38e2112281",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Apollo API - Search people",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Phone Data": {
      "main": [
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo API - Search people": {
      "main": [
        [
          {
            "node": "Apollo API - Get Email and Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo API - Get Email and Phone": {
      "main": [
        [
          {
            "node": "Format Phone Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheets": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7207eb9-b232-49d6-b3b8-456644962243",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26cb19741f3cc18c29d57e8106dae49181824f93ae958c0c59160895fd0cf974"
  },
  "id": "6PCjLrPnMoytCnxp",
  "tags": []
}