public/workflows/company-research-analysis.json
{
  "name": "AI Company Research and Analysis",
  "nodes": [
    {
      "parameters": {},
      "id": "48038548-04c8-4d4e-a18c-8a08c6730618",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2064,
        832
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "companyName",
              "value": "={{ $json[\"Company Name\"] }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "has free trial",
              "value": "={{ $json.has_free_trial }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "has_enterprise_plan",
              "value": "={{ $json.has_enterprise_plan }}",
              "type": "number"
            },
            {
              "id": "184a1af5-86d8-4d81-adcb-0685780534d9",
              "name": "cheapest_plan",
              "value": "={{ $json.cheapest_plan }}",
              "type": "string"
            },
            {
              "id": "4746055e-d285-427a-b3c1-12e89ce35320",
              "name": "last_case_study_link",
              "value": "={{ $json.last_case_study_link }}",
              "type": "string"
            },
            {
              "id": "189b1d12-48d3-4879-8b0e-8323909975cd",
              "name": "market",
              "value": "={{ $json.market }}",
              "type": "string"
            },
            {
              "id": "0ccf9d6e-8d2c-46b6-8406-81a1c6f3006f",
              "name": "integrations",
              "value": "={{ $json.integrations }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "0bb710e1-8308-4771-9374-8a30d37a90f6",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2496,
        832
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strategic brand analyst for Bump Syndicate, https://www.linkedin.com/showcase/bump-syndicate/. Analyze the company \"{{ $json.companyName }}\" which has the following:\nhas Free trial?- {{ $json['has free trial'] }}\nhas enterprise plan?- {{ $json.has_enterprise_plan }}\nCheapest plan- {{ $json.cheapest_plan }}\nMarket-{{ $json.market }}\nIntegrations-{{ $json.integrations }}\n\nAdditional info: Case Study- {{ $json.last_case_study_link }}\n\nBased on the above,conduct a comprehensive analysis including:\n\n1. BRAND OVERVIEW: Research and summarize the company's mission, products/services, target market, unique value proposition, and market position.\n\n2. COMPETITOR ANALYSIS: Identify and analyze main competitors. For each competitor, provide:\n   - Company name and brief description\n   - Market positioning and differentiation\n   - Strengths and weaknesses relative to the target company\n   - Pricing strategy comparison\n   - Key differentiators\n\n3. SOCIAL LANDSCAPE ANALYSIS:\n   - Social media presence across major platforms (LinkedIn, Twitter, Instagram, Facebook)\n   - Engagement metrics and audience sentiment\n   - Content strategy and messaging themes\n   - Influencer partnerships or brand advocates\n   - Customer reviews and feedback trends\n   - Brand perception in online communities\n\n4. SWOT ANALYSIS:\n   - STRENGTHS: Internal advantages and capabilities\n   - WEAKNESSES: Internal limitations and areas for improvement\n   - OPPORTUNITIES: External factors that could be leveraged\n   - THREATS: External challenges and competitive pressures\n\n5. STRATEGIC RECOMMENDATIONS:\n   - Provide 5-7 actionable recommendations based on the analysis\n   - Prioritize recommendations by potential impact\n   - Include specific tactics for implementation\n   - Address competitive positioning, social media strategy, and market opportunities\n\nUse the following information to gather current, accurate information. Be thorough and data-driven in your analysis.\n\nhas Free trial?- {{ $json['has free trial'] }}\nhas enterprise plan?- {{ $json.has_enterprise_plan }}\nCheapest plan- {{ $json.cheapest_plan }}\nMarket-{{ $json.market }}\nIntegrations-{{ $json.integrations }}\n\nAdditional info: Case Study- {{ $json.last_case_study_link }}\n\nOutput your findings in structured report format with clear section headers, bullet points, and cited sources.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a strategic brand analyst for Bump Syndicate, https://www.linkedin.com/showcase/bump-syndicate/"
        }
      },
      "id": "9d581811-7bf0-408b-b29a-c523b043e8c0",
      "name": "Brand Analysis AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2992,
        832
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "65a24f62-0e7d-49c8-9224-9f768b05c4c3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2896,
        1056
      ],
      "credentials": {
        "openAiApi": {
          "id": "RGk9QwXlJOk52FFw",
          "name": "marylfaith.hyprassistants@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13QkPTJX451bcpBj_-2Xd4Q3G_g9HDcoX14yRabVVIgU",
          "mode": "list",
          "cachedResultName": "AI Agent for Automated Company Research & Lead Enrichment [template]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13QkPTJX451bcpBj_-2Xd4Q3G_g9HDcoX14yRabVVIgU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 365820524,
          "mode": "list",
          "cachedResultName": "agency_batch1_20",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13QkPTJX451bcpBj_-2Xd4Q3G_g9HDcoX14yRabVVIgU/edit#gid=365820524"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2272,
        832
      ],
      "id": "3108e721-731e-47d4-ac08-72156e7ec9bd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2704,
        832
      ],
      "id": "a05204b4-fe78-4e80-b4f6-59120fecbcde",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output }}",
        "name": "=Marketing Analysis {{ $itemIndex }}",
        "driveId": {
          "__rl": true,
          "value": "0ACsAMbXCSjL8Uk9PVA",
          "mode": "list",
          "cachedResultName": "**Automations**",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0ACsAMbXCSjL8Uk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1RO1mYqLS1QLnWOoFo8VoytMCknguajgv",
          "mode": "list",
          "cachedResultName": "Competitors Analysis Report",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RO1mYqLS1QLnWOoFo8VoytMCknguajgv"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3392,
        832
      ],
      "id": "f0669ddb-fdee-4257-bf88-a9b2858a0213",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EtwOCHF9z3r9p04X",
          "name": "Bump Drive Google Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Brand Analysis AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Brand Analysis AI Agent": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Brand Analysis AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92fedb3c-26ce-41ee-8c5c-1962ad54fe5e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26cb19741f3cc18c29d57e8106dae49181824f93ae958c0c59160895fd0cf974"
  },
  "id": "9wUFnYpDq3rX9RHB",
  "tags": []
}