public/workflows/linkedin-comments-responder.json
{
  "name": "AI LinkedIn Comments Responder",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a helpful social media manager. Generate a casual, professional, and engaging reply to the following LinkedIn comment on Austin’s post.\n\nGuidelines:\n\nTone: \nFriendly, conversational, and authentic — not overly formal or salesy.\n\nLength: \nKeep it short and natural (1-2 sentences max).\n\nEngagement: \nBuild on the commenter's point smoothly. You don’t always need to thank them or ask a question. Be human.\n\nRules and Strict Styles:\n1.Vary the opening line of each reply — don’t start every response with the same phrase or structure (e.g., avoid repeating “Totally,” “Great point,” etc.).\n2.Avoid using the word “Absolutely\", \"you're spot on\", \"you nailed it\"\n3.Use a mix of acknowledgment, reflection, or light insight to keep replies natural and varied.\n4.Limit exclamation marks; only use them if it fits the tone genuinely.\n5.Keep each comment unique by varying sentence rhythm and vocabulary.\n6.Each comment should have DIFFERENT words from other comments.\n7.If the other comment already used a word, don't use it on another word. Use a different word.\n\nRelevance: \nKeep the response aligned with Austin’s post topic and aim to subtly encourage continued conversation or connection when appropriate.\n\nInput:\nOriginal comment: {{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3a58f2a4-c1ee-4563-906a-5096b128c15f",
      "name": "🤖 Generate AI Reply",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -1312,
        -432
      ],
      "typeVersion": 1,
      "executeOnce": false,
      "credentials": {
        "openAiApi": {
          "id": "RGk9QwXlJOk52FFw",
          "name": "marylfaith.hyprassistants@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/urn:li:comment:(urn:li:ugcPost:{{ $json['ugc id'] }},{{ $json['orig comment id'] }})/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQXo-vUqfpzIkEAeqaD8Va3d7PQLtg4HRXwtZfXQ4W4G_7b9QU4F1NDrxjIegGShefoHfH1sDGfnQ9qwFdWqkU5Pp0o-5vXN8nOPAavHOIdW6SL8AtlUtABXNMqjSI-hOICEt-NhperuMY3_88E31fTZ45vED3ulSSlxuImE2YYDVWMdXLzTEmLuqQwkIpki0LgKyPNQYQu_9tXPHeGyR8OT3VRgz28FWQyWNkhqdKTk-IvKundLr9cS66iUSd7sqIBQ0SN3gm9N_YHy8CtqJiP_xDwoTcz7kDwd1dQy1b0-Si3yYQxSgeLNub-eqCEqOBW_RQfQh2zfweh1Ijal3n0f4J6pZQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:YqI4mIeLt8\",\n  \"message\": {\n    \"text\": \"{{ $('🤖 Generate AI Reply').item.json.message.content }}\"\n  },\n\"object\": \"urn:li:ugcPost:{{ $json['ugc id'] }}\",\n    \"parentComment\": \"urn:li:comment:(urn:li:ugcPost:{{ $json['ugc id'] }},{{ $json['orig comment id'] }})\"\n}",
        "options": {}
      },
      "id": "88aa51ba-6300-481b-af5f-214e9a15ab9a",
      "name": "💬 Post LinkedIn Reply",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -640,
        -432
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Post Ids-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1517015939,
          "mode": "list",
          "cachedResultName": "last comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=1517015939"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "orig comment date": "={{ $('Filter').item.json.posted_at }}",
            "orig comment content": "={{ $('Filter').item.json.text }}",
            "orig comment id": "={{ $('Filter').item.json.comment_id }}",
            "automated reply": "={{ $('🤖 Generate AI Reply').item.json.message.content }}",
            "autoreply date": "={{ $now }}",
            "post id": "={{ $node['Filter'].json.post_input }}",
            "ugc id": "={{ $json['ugc id'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ugc id",
              "displayName": "ugc id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post id",
              "displayName": "post id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "orig comment id",
              "displayName": "orig comment id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "orig comment content",
              "displayName": "orig comment content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "orig comment date",
              "displayName": "orig comment date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "automated reply",
              "displayName": "automated reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "autoreply date",
              "displayName": "autoreply date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "68f8f11e-0fe4-4144-8488-07ddc8d2ac89",
      "name": "💾 Store Comment Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -832,
        -432
      ],
      "typeVersion": 4.4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.linkedin.com/oauth/v2/accessToken",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "client_id",
              "value": "86q10w248p4s5e"
            },
            {
              "name": "redirect_uri",
              "value": "https://oauth.n8n.cloud/oauth2/callback"
            },
            {
              "name": "code",
              "value": "AQQKH6Kn0qwZ2gbvGUZjOBpcddd_cHQHZvDFjKio7lCR981cOPgb7l4H9cPaMt8Wr_Pfd4XQk1Mj-g_5QhmTMMch8t-ToC47onKAlZX66VzoevOJqzvEO6IB6rSIyNnlMWxwt1JIWWywD23RFNpbLwRZSptY0UxTjX0zXzFR5_K5XT9OK2P9W6sJexojW4GpyUN4q4hCezX1AKRRsk0"
            },
            {
              "name": "client_secret",
              "value": "WPL_AP1.66nV9zSDVNFBhX9i.ROYVWQ=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1792,
        -64
      ],
      "id": "3f3925a2-eef4-40f8-bc4a-74f21bb24f2b",
      "name": "linkedin get token-faith@bumpbrands"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Faith Token\n[\n{\n\"access_token\": \n\"AQU7vv3du4dk6wjoLSYsDgU_yLXJwkq-yJ2b6xOqdSsrFqiU8vI8_SYCI-f-QiCHLi7mYfQ7pNhxXnoB3rUFDQkwbIPmSWOXhumNmayJtWvdHJcaHPirSND6mpgrBwzN-1x8mcYmaTnnl2ixb08i3lPN7W97QyLOrE2h9UTZl2W3NMTW318ftZlqP7B_gJY5pg1Dsnftk8cs_4mmgLH-xpXr8yZcaUJjIswh8TIJoBoAwbHdBetOOzag2at5coaWBFArw9MmFrpH65fg3fs1npyeNHjLe-Bv6H_nQvFrxHj6zkisZKgz0Ij0Cm8ZzDGnVb1KqC8e2pTYxvMFINclQAL-k6aIjg\",\n\"expires_in\": \n5183999,\n\"scope\": \n\"email,openid,profile,w_member_social\",\n\"token_type\": \n\"Bearer\",\n\"id_token\": \n\"eyJ6aXAiOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImQ5Mjk2NjhhLWJhYjEtNGM2OS05NTk4LTQzNzMxNDk3MjNmZiIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJodHRwczovL3d3dy5saW5rZWRpbi5jb20vb2F1dGgiLCJhdWQiOiI4NnExMHcyNDhwNHM1ZSIsImlhdCI6MTc2MDU4OTc0NiwiZXhwIjoxNzYwNTkzMzQ2LCJzdWIiOiJTSTRqWHFfLW4tIiwibmFtZSI6Ik1hcnlsIEZhaXRoIiwiZ2l2ZW5fbmFtZSI6Ik1hcnlsIiwiZmFtaWx5X25hbWUiOiJGYWl0aCIsInBpY3R1cmUiOiJodHRwczovL21lZGlhLmxpY2RuLmNvbS9kbXMvaW1hZ2UvdjIvRDREMDNBUUZNT0Q3b0E1aFRPQS9wcm9maWxlLWRpc3BsYXlwaG90by1zaHJpbmtfNDAwXzQwMC9CNERabm93Q3lUSWdBZy0vMC8xNzYwNTQ2NTMyODExP2U9MTc2MzU5NjgwMCZ2PWJldGEmdD12cUlrZktSY2FrTHFtaC1ocXE1Ykdud1B4TUJ2Ukh5MU5qQ1Vac1VSVTBFIiwiZW1haWwiOiJmYWl0aEBidW1wYnJhbmRzLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjoidHJ1ZSIsImxvY2FsZSI6ImVuX1VTIn0.nFzKf1QnbCOMy099Gf9KBaqEwOVVaDNVM3G4CE58xPdhe68I4DgseJxXjzINP98bG95AsCC_66w6p2foCOhxXFkT0mt5vQa0LLmyrOEuiG7yAWbGXV9bkcbrt4fsnfDAMO-EQta4lSVo5rUHt4w5VECR-UW7H_L_5wVy64f4Yjsu5qAi3xfFAijU1pgLWBvKkaZLws7sSoa-Bij3HO-owHbWr5KEubMZZtbyy-7j0FHi06Emer_sKGmUuWAT9QeuNmG7anMPKpNvh4wDjua5nfnNfldFK5s_slbpn7wjSTGM9ylGK_hr-FOzpGWSdygGpRZ7p-xrKSPTXKEbR2HEm_Ungg_IMEbkHM0lXwERerHTA0CwJB3dR82dGlmGFkMVVEYnCPsN2S4VOCIKCHCqyTLP-2_D5gpVIj4dniRFA1gXq4taReeJbuziBFEwB8o7uvdHfP40PqOlSqzERvORpykMcp5V8P58LxWHnM_6ldMd5WiKEHxMJVzqgUtaDvh6ui5iVmdMNra5CC8Yf2gfkCEvo5SdWWbocIv-fxWr-cMpUoxwohorLeGqGUd-Bba2E16_JGVXiRmQfF3a8xmyKlGvbiX_dawfkN_ncU71biN06WeqHEaKMYoLN5Sy1SHL8kLscVfylZinZwqh-m6XTTvIWb94RfjBbBvaIEI_E3g\"\n}\n]",
        "height": 496,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1872,
        -112
      ],
      "typeVersion": 1,
      "id": "439bf658-eb9d-4658-bec3-0c32665f5bf9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Austin Token\n\n[\n{\n\"access_token\": \n\"AQXo-vUqfpzIkEAeqaD8Va3d7PQLtg4HRXwtZfXQ4W4G_7b9QU4F1NDrxjIegGShefoHfH1sDGfnQ9qwFdWqkU5Pp0o-5vXN8nOPAavHOIdW6SL8AtlUtABXNMqjSI-hOICEt-NhperuMY3_88E31fTZ45vED3ulSSlxuImE2YYDVWMdXLzTEmLuqQwkIpki0LgKyPNQYQu_9tXPHeGyR8OT3VRgz28FWQyWNkhqdKTk-IvKundLr9cS66iUSd7sqIBQ0SN3gm9N_YHy8CtqJiP_xDwoTcz7kDwd1dQy1b0-Si3yYQxSgeLNub-eqCEqOBW_RQfQh2zfweh1Ijal3n0f4J6pZQ\",\n\"expires_in\": \n5183999,\n\"scope\": \n\"email,openid,profile,w_member_social\",\n\"token_type\": \n\"Bearer\",\n\"id_token\": \n\"eyJ6aXAiOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImQ5Mjk2NjhhLWJhYjEtNGM2OS05NTk4LTQzNzMxNDk3MjNmZiIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJodHRwczovL3d3dy5saW5rZWRpbi5jb20vb2F1dGgiLCJhdWQiOiI4NnExMHcyNDhwNHM1ZSIsImlhdCI6MTc2MDYyNjQ3MSwiZXhwIjoxNzYwNjMwMDcxLCJzdWIiOiJZcUk0bUllTHQ4IiwibmFtZSI6IkF1c3RpbiBSaWVzcyIsImdpdmVuX25hbWUiOiJBdXN0aW4iLCJmYW1pbHlfbmFtZSI6IlJpZXNzIiwicGljdHVyZSI6Imh0dHBzOi8vbWVkaWEubGljZG4uY29tL2Rtcy9pbWFnZS92Mi9ENTYwM0FRSEd2eXFVVjhkbDZnL3Byb2ZpbGUtZGlzcGxheXBob3RvLXNocmlua18xMDBfMTAwL0I1Nlprd3U1eV9IY0FVLS8wLzE3NTc0NTkyMjYzMTg_ZT0xNzYzNTk2ODAwJnY9YmV0YSZ0PXpzdmYwRXhrNVhVZEVUbjlrMFRQazV5cXZlc0RXUmdBdERQR25tcWhRYVEiLCJlbWFpbCI6InJpZXNzYXVzdGluQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjoidHJ1ZSIsImxvY2FsZSI6ImVuX1VTIn0.Um5LXz7hEW4buvVOlioclU3xHJdSFcerOTOYlJWNkotn7P9cURtpiGGueTaIuTNUsc4pJ-6A1CyxfA9G2YOCSqVxO_j5nNe1wXhzqlUdJexH7pPqxSnzTl-ln1r1uMqv-8svH-gpEQ-BIgVt3EP6oVW-ho4IcKBLh2rxkiKJgGGne8pf5TG8owk0iM3ZQ0XipmVVDvX4OL76QonbrqEJ_KLwogP153u1GQxRYWnDmpHvn4yp_2ZqKNZRWlI4Oe3riDgHDL8cSLwd_G36qDVt-wuwjT12G8W9JDBPwutWYKwW9DzrcAUjcb2LdYv8aeHv07ixyvFt_q5a8qy1AC7HqIYZLnbiLR8J__9WAncUCyPlMiAQaimg5WWNhltxtRP76dgyUJbOmViooc-s8pog3p_-fq2V8jHHvqVh4HdLo8nSspc8Z5hBQ1kgqS49ZloWt92RxfwDuUptdVpvKkEVavBKmSPQWl5jhuAxr7hkGNqopAyhdYUGGtHNyZ_mpiOaWhr4wekRfe2hRs9TMk0u0BeJ2CRZ4QB29YHPgZRh9bq67M0WFxfxyXeAW25Vsw0CrZKnGroZVnifOVS20fbIZhqrIm9uLs5Jr-4Ckvcvvy6iEiBMITXgBMIWWQvMGqmosdVjWpmZaAD25v0BqxMmfX4SXi_GAtt9ostLselALgQ\"\n}\n]",
        "height": 496,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2160,
        -112
      ],
      "typeVersion": 1,
      "id": "7aad468a-d8f8-40c2-8fe7-e524f44acd6c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.linkedin.com/oauth/v2/accessToken",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "client_id",
              "value": "86q10w248p4s5e"
            },
            {
              "name": "redirect_uri",
              "value": "https://oauth.n8n.cloud/oauth2/callback"
            },
            {
              "name": "code",
              "value": "AQTzrrL3PXrESept1IXSNInPoW2sLC77KkbS6oj447vgoz3rLUcES5fBKSkvPruPqN9i6qAmwsvVHPXBVYp9iF1PGoGupOdzMlaxDE9JBwVmKy9OYAVh0Emo77iL1_HbcqmQdZZgX8AEEhc9RyJYfkxzrQmWskoghnNheKwpG9eVhPyP5bS8iXjr57_xM-1pMd2kK2lj1yyVr4CCp6E"
            },
            {
              "name": "client_secret",
              "value": "WPL_AP1.66nV9zSDVNFBhX9i.ROYVWQ=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        -64
      ],
      "id": "c20c8319-52d8-4628-8b20-f6f7f2dfb4ce",
      "name": "linkedin get token- Austin"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQXo-vUqfpzIkEAeqaD8Va3d7PQLtg4HRXwtZfXQ4W4G_7b9QU4F1NDrxjIegGShefoHfH1sDGfnQ9qwFdWqkU5Pp0o-5vXN8nOPAavHOIdW6SL8AtlUtABXNMqjSI-hOICEt-NhperuMY3_88E31fTZ45vED3ulSSlxuImE2YYDVWMdXLzTEmLuqQwkIpki0LgKyPNQYQu_9tXPHeGyR8OT3VRgz28FWQyWNkhqdKTk-IvKundLr9cS66iUSd7sqIBQ0SN3gm9N_YHy8CtqJiP_xDwoTcz7kDwd1dQy1b0-Si3yYQxSgeLNub-eqCEqOBW_RQfQh2zfweh1Ijal3n0f4J6pZQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2352,
        -80
      ],
      "id": "bed73a36-e425-469d-a465-40642b1b6688",
      "name": "linkedin get id /person urn- Austin1"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Person URN -Austin \nsub\": \n\"YqI4mIeLt8\",\n\"email_verified\": \ntrue,\n\"name\": \n\"Austin Riess\",\n\"locale\": \n{\n\"country\": \n\"US\",\n\"language\": \n\"en\"\n},\n\"given_name\": \n\"Austin\",\n\"family_name\": \n\"Riess\",\n\"email\": \n\"riessaustin@gmail.com\",\n\"picture\": \n\"https://media.licdn.com/dms/image/v2/D5603AQHGvyqUV8dl6g/profile-displayphoto-shrink_100_100/B56Zkwu5y_HcAU-/0/1757459226318?e=1762387200&v=beta&t=irOA_BtqAUi64Kla8g--NYNW8R3-qVIAPmhBr8TtSEU\"\n}\n]",
        "height": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        -112
      ],
      "typeVersion": 1,
      "id": "6423922f-676f-4e2c-b1b2-f7f00cfebe0c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20febbcc-0a59-4a89-8932-9bbb34b0e9f9",
              "name": "APIFY_TOKEN",
              "type": "string",
              "value": "{{$credentials.apify_token}}"
            },
            {
              "id": "291758a3-c73f-4db5-a2b3-5f88664a8b53",
              "name": "limit",
              "type": "number",
              "value": "={{ $json.limit }}"
            },
            {
              "id": "921b72d5-3688-4324-9d36-50668548344e",
              "name": "postIds",
              "type": "array",
              "value": "={{ $json.postIds }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "481ea11b-37ba-4533-afe2-dfb4f573ce0f",
      "name": "Set APIFY Token1",
      "type": "n8n-nodes-base.set",
      "position": [
        -2240,
        -1136
      ],
      "notesInFlow": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "916bb8f7-34c5-4f2f-b13d-f60d228abc1f",
              "name": "postIds",
              "type": "array",
              "value": "={{ $json.activity_urn }}"
            },
            {
              "id": "7ff3d2f4-ab8a-444f-9747-f95166a950bd",
              "name": "limit",
              "type": "number",
              "value": "={{ $json['How many comments you want to scrape?'] || 100 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "737193af-d43f-4ee2-9b20-e2f697ac9baf",
      "name": "Set fields from the form1",
      "type": "n8n-nodes-base.set",
      "position": [
        -2432,
        -1136
      ],
      "notesInFlow": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "urn.activity_urn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2656,
        -1136
      ],
      "id": "047a1411-9ef5-4409-a0a6-49b6d05ae2ee",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQU7vv3du4dk6wjoLSYsDgU_yLXJwkq-yJ2b6xOqdSsrFqiU8vI8_SYCI-f-QiCHLi7mYfQ7pNhxXnoB3rUFDQkwbIPmSWOXhumNmayJtWvdHJcaHPirSND6mpgrBwzN-1x8mcYmaTnnl2ixb08i3lPN7W97QyLOrE2h9UTZl2W3NMTW318ftZlqP7B_gJY5pg1Dsnftk8cs_4mmgLH-xpXr8yZcaUJjIswh8TIJoBoAwbHdBetOOzag2at5coaWBFArw9MmFrpH65fg3fs1npyeNHjLe-Bv6H_nQvFrxHj6zkisZKgz0Ij0Cm8ZzDGnVb1KqC8e2pTYxvMFINclQAL-k6aIjg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        -48
      ],
      "id": "de512f7c-0f43-461b-854b-fa046d2e411d",
      "name": "linkedin get id /person urn- Faith"
    },
    {
      "parameters": {
        "content": "## Faith URN\n\n[\n{\n\"sub\": \n\"SI4jXq_-n-\",\n\"email_verified\": \ntrue,\n\"name\": \n\"Maryl Faith\",\n\"locale\": \n{\n\"country\": \n\"US\",\n\"language\": \n\"en\"\n},\n\"given_name\": \n\"Maryl\",\n\"family_name\": \n\"Faith\",\n\"email\": \n\"faith@bumpbrands.com\",\n\"picture\": \n\"https://media.licdn.com/dms/image/v2/D4D03AQFMOD7oA5hTOA/profile-displayphoto-shrink_400_400/B4DZnowCyTIgAg-/0/1760546532811?e=1762387200&v=beta&t=LPffDAGerEIBmTC4q0ETWXMgIzU_PUsBu90Qmw1mDzY\"\n}\n]",
        "height": 496,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        -112
      ],
      "typeVersion": 1,
      "id": "0c065038-bdda-42c5-a756-7955021b9ecc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Post Ids-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 370528875,
          "mode": "list",
          "cachedResultName": "master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=370528875"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "postIds/activity id",
              "lookupValue": "={{ $('Filter').item.json.post_input }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        -432
      ],
      "id": "32658b3b-6f83-4bb6-ac3a-67409ef6ffd3",
      "name": "get ugc id",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Post Ids-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1517015939,
          "mode": "list",
          "cachedResultName": "last comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=1517015939"
        },
        "options": {}
      },
      "id": "a1fbe469-9dee-4ce7-94fe-96016b145e46",
      "name": "Get Last Comment Timestamp",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2368,
        -464
      ],
      "typeVersion": 4.4,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Auto reply to Comments-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1945780128,
          "mode": "list",
          "cachedResultName": "comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=1945780128"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2368,
        -656
      ],
      "id": "ea035f53-1a91-48b0-a189-8172e7515cc7",
      "name": "Get comments scraped",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "text",
              "field2": "orig comment content"
            },
            {
              "field1": "comment_id",
              "field2": "orig comment id"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1936,
        -528
      ],
      "id": "a78cc997-5e1e-476d-82b5-e62785934da9",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "049696d1-4371-4647-9693-2433014032bd",
              "leftValue": "={{$node['Get Last Comment Timestamp']}}",
              "rightValue": "=7390787331647131648",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "dcc29575-874d-41f8-9dd5-f700970f59e2",
              "leftValue": "={{ $json.post_input }}",
              "rightValue": "7389692726608420864",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "be445b3b-8ccf-464f-bfe8-4fdee93a16c2",
              "leftValue": "={{ $json.post_input }}",
              "rightValue": "7388269203084046336",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a05e67a3-4b53-4293-9fb8-43e80e355ae4",
              "leftValue": "={{ $json.post_input }}",
              "rightValue": "7390047558661894144",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b01bb93c-e8b0-4cba-998c-4f32d2ed68ae",
              "leftValue": "={{ $json.posted_date }}",
              "rightValue": "=2025-10-29",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c124c96c-87fe-4ba5-bfa6-0376432561b6",
              "leftValue": "={{ $json.posted_date }}",
              "rightValue": "={{ $now.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1936,
        -368
      ],
      "id": "b9aa07b4-8e06-49e0-80a0-c64d53106092",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-post-comments-replies-engagements-scraper-no-cookies/run-sync-get-dataset-items?token={{$credentials.apify_token}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "postIds",
              "value": "={{ $json.postIds }}"
            },
            {
              "name": "page_number",
              "value": "={{1}}"
            },
            {
              "name": "sortOrder",
              "value": "most recent"
            },
            {
              "name": "limit",
              "value": "={{ $('Set fields from the form1').item.json.limit }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a655b59-2966-47d8-91e9-cf6e1586e520",
      "name": "Run Apify Comments Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2048,
        -1136
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-profile-posts/run-sync-get-dataset-items?token={{$credentials.apify_token}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"limit\": 4,\n  \"page_number\": 1,\n  \"username\": \"https://www.linkedin.com/in/connectingtheworld/\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2912,
        -1120
      ],
      "id": "fd79fcc1-eaae-4da2-ad08-564438251baa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## scrape new posts",
        "height": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2960,
        -1296
      ],
      "typeVersion": 1,
      "id": "7913dcc0-b9b4-4a27-9cb1-f6c90860aca0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "59e41032-ae81-43df-ae60-87445867cc89",
              "leftValue": "={{ $json.author_name }}",
              "rightValue": "Austin",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1552,
        -528
      ],
      "id": "08bc127c-abec-4d30-816d-f3059e8c3cdd",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Auto reply to Comments-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1945780128,
          "mode": "list",
          "cachedResultName": "comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=1945780128"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2544,
        -1552
      ],
      "id": "b9bd8622-f87b-4b67-975d-93b53aa39b7f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Auto reply to Comments-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1556166545,
          "mode": "list",
          "cachedResultName": "Sheet6",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=1556166545"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ugc id": "={{ $json.urn.ugcPost_urn }}",
            "postIds/activity id": "={{ $json.urn.activity_urn }}",
            "postUrl": "={{ $json.url }}",
            "type": "={{ $json.post_type }}",
            "videoUrl": "={{ $json.media.url }}",
            "postContent": "={{ $json.text }}",
            "author": "={{ $json.author }}",
            "authorUrl": "={{ $json.author.profile_url }}",
            "postTimestamp": "={{ $json.posted_at.date }}",
            "postDate": "={{ $json.posted_at.date }}",
            "likeCount": "={{ $json.stats.like }}",
            "commentCount": "={{ $json.stats.comments }}",
            "repostCount": "={{ $json.stats.reposts }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "embedded",
              "displayName": "embedded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ugc id",
              "displayName": "ugc id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postIds/activity id",
              "displayName": "postIds/activity id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postUrl",
              "displayName": "postUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imgUrl",
              "displayName": "imgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postContent",
              "displayName": "postContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likeCount",
              "displayName": "likeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commentCount",
              "displayName": "commentCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "repostCount",
              "displayName": "repostCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postDate",
              "displayName": "postDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "authorUrl",
              "displayName": "authorUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profileUrl",
              "displayName": "profileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "viewCount",
              "displayName": "viewCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postTimestamp",
              "displayName": "postTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sharedPostUrl",
              "displayName": "sharedPostUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commentContent",
              "displayName": "commentContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commentUrl",
              "displayName": "commentUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2736,
        -1552
      ],
      "id": "89529f9c-7247-496c-9521-1082f441990d",
      "name": "add to sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Auto reply to Comments-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1945780128,
          "mode": "list",
          "cachedResultName": "comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=1945780128"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "comment_id": "={{ $json.comment_id }}",
            "text": "={{ $json.text }}",
            "posted_at": "={{ $json.posted_at }}",
            "is_edited": "={{ $json.is_edited }}",
            "is_pinned": "={{ $json.is_pinned }}",
            "comment_url": "={{ $json.comment_url }}",
            "author": "={{ $json.author }}",
            "stats": "={{ $json.stats }}",
            "replies": "={{ $json.replies }}",
            "post_input": "={{ $json.post_input }}",
            "totalComments": "={{ $json.totalComments }}",
            "timestamp": "={{ $json.posted_at.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "comment_id",
              "displayName": "comment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_edited",
              "displayName": "is_edited",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_pinned",
              "displayName": "is_pinned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment_url",
              "displayName": "comment_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats",
              "displayName": "stats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replies",
              "displayName": "replies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_input",
              "displayName": "post_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalComments",
              "displayName": "totalComments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1824,
        -1136
      ],
      "id": "444c4855-4cf5-416c-bf12-1226801caf17",
      "name": "add to comments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Austin's reply to comments",
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2608,
        -1632
      ],
      "typeVersion": 1,
      "id": "5cff93e1-ba4b-4960-94cb-9b136411d2bf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apimaestro~linkedin-post-comments-replies-engagements-scraper-no-cookies/run-sync-get-dataset-items?token={{$credentials.apify_token}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "postIds",
              "value": "={{ $json[\"post id\"] }}"
            },
            {
              "name": "page_number",
              "value": "={{1}}"
            },
            {
              "name": "sortOrder",
              "value": "most recent"
            },
            {
              "name": "limit",
              "value": "={{100}}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd593629-a90c-4a24-84b9-212ab9cfbde8",
      "name": "Run Apify Comments Scraper1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1792,
        -1568
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Auto reply to Comments-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 370528875,
          "mode": "list",
          "cachedResultName": "Sheet7",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=370528875"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2000,
        -1568
      ],
      "id": "76705171-09cb-4ebc-a2e0-9ad16137f14b",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Auto reply to Comments-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1945780128,
          "mode": "list",
          "cachedResultName": "comments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=1945780128"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "comment_id": "={{ $json.comment_id }}",
            "text": "={{ $json.text }}",
            "posted_at": "={{ $json.posted_at }}",
            "is_edited": "={{ $json.is_edited }}",
            "is_pinned": "={{ $json.is_pinned }}",
            "comment_url": "={{ $json.comment_url }}",
            "author": "={{ $json.author }}",
            "stats": "={{ $json.stats }}",
            "replies": "={{ $json.replies }}",
            "post_input": "={{ $json.post_input }}",
            "totalComments": "={{ $json.totalComments }}",
            "timestamp": "={{ $json.posted_at.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "comment_id",
              "displayName": "comment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_edited",
              "displayName": "is_edited",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_pinned",
              "displayName": "is_pinned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment_url",
              "displayName": "comment_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats",
              "displayName": "stats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replies",
              "displayName": "replies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_input",
              "displayName": "post_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalComments",
              "displayName": "totalComments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1600,
        -1568
      ],
      "id": "834b98ec-0e37-4a07-88ae-7e087bc40e46",
      "name": "add to comments1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.linkedin.com/v2/socialActions/urn:li:comment:(urn:li:ugcPost:7390047557613387776,7390051128538968064)/comments/7391083838552256512?actor=urn:li:person:YqI4mIeLt8",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQXo-vUqfpzIkEAeqaD8Va3d7PQLtg4HRXwtZfXQ4W4G_7b9QU4F1NDrxjIegGShefoHfH1sDGfnQ9qwFdWqkU5Pp0o-5vXN8nOPAavHOIdW6SL8AtlUtABXNMqjSI-hOICEt-NhperuMY3_88E31fTZ45vED3ulSSlxuImE2YYDVWMdXLzTEmLuqQwkIpki0LgKyPNQYQu_9tXPHeGyR8OT3VRgz28FWQyWNkhqdKTk-IvKundLr9cS66iUSd7sqIBQ0SN3gm9N_YHy8CtqJiP_xDwoTcz7kDwd1dQy1b0-Si3yYQxSgeLNub-eqCEqOBW_RQfQh2zfweh1Ijal3n0f4J6pZQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:YqI4mIeLt8\"\n}",
        "options": {}
      },
      "id": "3c782ec5-a2b1-4732-8cf1-2ea6f080cd9c",
      "name": "get replies",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2336,
        -1552
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Post Ids-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 370528875,
          "mode": "list",
          "cachedResultName": "master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=370528875"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ugc id": "={{ $json.urn.ugcPost_urn }}",
            "postIds/activity id": "={{ $json.urn.activity_urn }}",
            "postUrl": "={{ $json.url }}",
            "postContent": "={{ $json.text }}",
            "likeCount": "={{ $json.stats.like }}",
            "commentCount": "={{ $json.stats.comments }}",
            "postDate": "={{ $json.posted_at.date }}",
            "timestamp": "={{ $json.posted_at.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "embedded",
              "displayName": "embedded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ugc id",
              "displayName": "ugc id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postIds/activity id",
              "displayName": "postIds/activity id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postUrl",
              "displayName": "postUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imgUrl",
              "displayName": "imgUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postContent",
              "displayName": "postContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likeCount",
              "displayName": "likeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commentCount",
              "displayName": "commentCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "repostCount",
              "displayName": "repostCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postDate",
              "displayName": "postDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "authorUrl",
              "displayName": "authorUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profileUrl",
              "displayName": "profileUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "viewCount",
              "displayName": "viewCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postTimestamp",
              "displayName": "postTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sharedPostUrl",
              "displayName": "sharedPostUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commentContent",
              "displayName": "commentContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commentUrl",
              "displayName": "commentUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2496,
        -944
      ],
      "id": "22b0d074-449a-47b5-9ddd-17b6625e3d8c",
      "name": "add new posts to sheet6",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  // --- Parse author field ---\n  let authorData = data.author;\n  if (typeof authorData === 'string') {\n    try {\n      authorData = JSON.parse(authorData);\n    } catch {\n      authorData = {};\n    }\n  }\n  const authorName = authorData.name || null;\n\n  // --- Parse posted_at field ---\n  let postedAtData = data.posted_at;\n  if (typeof postedAtData === 'string') {\n    try {\n      postedAtData = JSON.parse(postedAtData);\n    } catch {\n      postedAtData = {};\n    }\n  }\n\n  // Extract only the date part (before any space)\n  let postedDate = null;\n  if (postedAtData.date) {\n    postedDate = postedAtData.date.split(' ')[0];\n  }\n\n  // --- Return cleaned result ---\n  return {\n    json: {\n      ...data,\n      author_name: authorName,\n      posted_date: postedDate\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        -528
      ],
      "id": "0bad64d7-b3b0-4c29-bc9a-274480f88a99",
      "name": "get author name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d8004d2-8f35-4b52-aa49-e4b8c6be05d9",
              "leftValue": "={{ $json.posted_at }}",
              "rightValue": "2025-11",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2208,
        -784
      ],
      "id": "efb8a64f-9da0-4fba-995b-848e608e940e",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d8004d2-8f35-4b52-aa49-e4b8c6be05d9",
              "leftValue": "={{ $json.replies }}",
              "rightValue": "[]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cf98c90a-cb5c-4066-a034-a7a2d0ef5dea",
              "leftValue": "={{ $json.author }}",
              "rightValue": "Austin",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1984,
        -832
      ],
      "id": "cf678b37-98bd-4573-ad0c-81b645579365",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Auto reply to Comments-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1911190918,
          "mode": "list",
          "cachedResultName": "Sheet8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=1911190918"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ugc id": "=https://api.linkedin.com/v2/socialActions/{{ $json.parentComment }}/comments/{{ $json.id }}?actor=urn:li:person:YqI4mIeLt8"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ugc id",
              "displayName": "ugc id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post id",
              "displayName": "post id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "orig comment id",
              "displayName": "orig comment id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "orig comment content",
              "displayName": "orig comment content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "orig comment date",
              "displayName": "orig comment date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "automated reply",
              "displayName": "automated reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "autoreply date",
              "displayName": "autoreply date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1984,
        -1760
      ],
      "id": "ef1b1891-604b-4a1e-9ac7-652f56386955",
      "name": "add to comments2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json['ugc id'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer AQXo-vUqfpzIkEAeqaD8Va3d7PQLtg4HRXwtZfXQ4W4G_7b9QU4F1NDrxjIegGShefoHfH1sDGfnQ9qwFdWqkU5Pp0o-5vXN8nOPAavHOIdW6SL8AtlUtABXNMqjSI-hOICEt-NhperuMY3_88E31fTZ45vED3ulSSlxuImE2YYDVWMdXLzTEmLuqQwkIpki0LgKyPNQYQu_9tXPHeGyR8OT3VRgz28FWQyWNkhqdKTk-IvKundLr9cS66iUSd7sqIBQ0SN3gm9N_YHy8CtqJiP_xDwoTcz7kDwd1dQy1b0-Si3yYQxSgeLNub-eqCEqOBW_RQfQh2zfweh1Ijal3n0f4J6pZQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:YqI4mIeLt8\"\n}",
        "options": {}
      },
      "id": "f15dca47-b018-4967-831a-75b0d119980d",
      "name": "get replies1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1632,
        -1760
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Auto reply to Comments-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1911190918,
          "mode": "list",
          "cachedResultName": "Sheet8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=1911190918"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1824,
        -1760
      ],
      "id": "cadd7ed7-faed-44b7-8443-90f2d49e75d8",
      "name": "add to comments3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a helpful social media manager. Generate a casual, professional, and engaging reply to the following LinkedIn comment on Austin’s post.\n\nGuidelines:\n\nTone: \nFriendly, conversational, and authentic — not overly formal or salesy.\n\nLength: \nKeep it short and natural (1-2 sentences max).\n\nEngagement: \nBuild on the commenter's point smoothly. You don’t always need to thank them or ask a question. Be human.\n\nRules and Strict Styles:\n1.Vary the opening line of each reply — don’t start every response with the same phrase or structure (e.g., avoid repeating “Totally,” “Great point,” etc.).\n2.Avoid using the word “Absolutely\", \"you're spot on\", \"you nailed it\"\n3.Use a mix of acknowledgment, reflection, or light insight to keep replies natural and varied.\n4.Limit exclamation marks; only use them if it fits the tone genuinely.\n5.Keep each comment unique by varying sentence rhythm and vocabulary.\n6.Each comment should have DIFFERENT words from other comments.\n7.If the other comment already used a word, don't use it on another word. Use a different word.\n\nRelevance: \nKeep the response aligned with Austin’s post topic and aim to subtly encourage continued conversation or connection when appropriate.\n\nInput:\nOriginal comment: {{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1344,
        -288
      ],
      "id": "a98a7754-c2cb-4d62-b27b-811b32a485dc",
      "name": "🤖 Generate AI Reply1",
      "credentials": {
        "googlePalmApi": {
          "id": "rfH20dMbs12EhlIX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1568,
        -288
      ],
      "id": "54f427e4-46c2-4f7e-9c01-80014f2e9a80",
      "name": "Limit"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Post Ids-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 370528875,
          "mode": "list",
          "cachedResultName": "master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=370528875"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2912,
        -928
      ],
      "id": "bfdd8959-583d-40bb-b535-d37aee5dbe6c",
      "name": "get Posts from Phantombuster1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ptmkiW3bQp7rNINV",
          "name": "Bump Google Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "urn.ugcPost_urn",
              "field2": "ugc id"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2688,
        -944
      ],
      "id": "793e7275-1d24-4cbd-b03c-83d2377be248",
      "name": "Merge1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc",
          "mode": "list",
          "cachedResultName": "Linkedin Auto reply to Comments-Austin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 370528875,
          "mode": "list",
          "cachedResultName": "master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WDDxvUZ46C_AK_q2-O5bmS5cda22ygCW8Crr1OdpuXc/edit#gid=370528875"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -2608,
        -544
      ],
      "id": "385aeaf9-28bc-4ab5-b3c7-f8643456482b",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "4GIoImzGb5rjwjbI",
          "name": "Bump Google account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3136,
        -1104
      ],
      "id": "b7c8e2ad-fa13-4248-bb96-8a1ce5a93c16",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "🤖 Generate AI Reply": {
      "main": [
        [
          {
            "node": "get ugc id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Post LinkedIn Reply": {
      "main": [
        []
      ]
    },
    "Set APIFY Token1": {
      "main": [
        [
          {
            "node": "Run Apify Comments Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields from the form1": {
      "main": [
        [
          {
            "node": "Set APIFY Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Set fields from the form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Store Comment Data": {
      "main": [
        [
          {
            "node": "💬 Post LinkedIn Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get ugc id": {
      "main": [
        [
          {
            "node": "💾 Store Comment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Comment Timestamp": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get comments scraped": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "get author name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Run Apify Comments Scraper": {
      "main": [
        [
          {
            "node": "add to comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        []
      ]
    },
    "add to sheet6": {
      "main": [
        []
      ]
    },
    "add to comments": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Run Apify Comments Scraper1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Apify Comments Scraper1": {
      "main": [
        [
          {
            "node": "add to comments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add new posts to sheet6": {
      "main": [
        []
      ]
    },
    "get author name": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add to comments2": {
      "main": [
        [
          {
            "node": "add to comments3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add to comments3": {
      "main": [
        [
          {
            "node": "get replies1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Generate AI Reply1": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "🤖 Generate AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "add new posts to sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Posts from Phantombuster1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get comments scraped",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Last Comment Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "get Posts from Phantombuster1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3300af61-ceea-4f4d-bb25-ecf33aef22e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26cb19741f3cc18c29d57e8106dae49181824f93ae958c0c59160895fd0cf974"
  },
  "id": "r2Zph5dBW87F3SQ2",
  "tags": []
}